body
{
    background-color: black;
}


.SAContainer
{
    width: 300px;
    aspect-ratio: 4/6;
    border: 5px white solid;
    background-color: #AAAAAA80;
    position: relative;
}

.SAStack
{
    width: 30%;
    height: 60%;
    border-radius: 10px;
    border: 5px white solid;
    border-top: 5px white dashed;
    background-color: black;
    position: absolute;
    bottom: 3%;
    left: 50%;
    translate: -50% 0;
}

.operatorBubble
{
    position: absolute;
    border-radius: 50%;
    border: 3px lightblue solid;
    background-color: #00ffff30;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 20%;
    aspect-ratio: 1/1;
    top: 15%;
    left: 50%;
    translate: -50% 0;

    color: white;
    font-size: 70px;
    overflow: hidden;

    transition: all 500ms ease-in-out;

    opacity: 0;
}

.numberNode
{
    position: absolute;
    border-radius: 50%;
    background-color: #ff000030;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 10%;
    aspect-ratio: 1/1;
    top: 15%;
    left: 50%;
    translate: -50% 0;


    color: white;
    font-size: 30px;
    overflow: hidden;

    opacity: 0;

    transition: all 500ms ease-in-out;
}